@font-face {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 400;
    src: url(../webfonts/iran_sans/iransans-medium.woff);

  }
  
  @font-face {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 500;
    src: url(../webfonts/iran_sans/iransans-regular.woff);
  }
  
  @font-face {
    font-family: 'IranSans';
    font-style: normal;
    font-weight: 700;
    src: url(../webfonts/iran_sans/iransans-bold.woff);
  }
  
  @font-face {
    font-family: 'IranSansNumeral';
    font-style: normal;
    font-weight: 400;
    src: url(../webfonts/iran_sans/IRANSansOnlyNumeral.woff);
  }
  
  @font-face {
    font-family: 'IranSansNumeral';
    font-style: normal;
    font-weight: 500;
    src: url(../webfonts/iran_sans/IRANSansOnlyNumral_Medium.woff);
  }